@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu @ref="NavMenuRef"/>
</div>

<div class="main bg-light">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    private NavMenu NavMenuRef;
} 
