@page "/map"

<div class="row rounded-lg shadow-lg mr-2" style="background: white;">
    <div class="col mt-3 ml-1">
        <div class="e-card card bg-dark mb-3 text-left" style="height: 10rem; width: 64rem;">
            <div class="e-card-content">
                <span class="card-text text-white">MAP</span>

                <p class="card-text text-white mt-3"
                   style="font-family:georgia,garamond,serif;font-size:14px;">

                    Map not available at this time. Stay tuned.
                </p>
            </div>
        </div>
    </div>
</div>