@page "/philippines"

<div class="control-section">
    <PhChart @ref="PhChartRef"></PhChart>
    <DataGrid @ref="GridRef"></DataGrid>
</div>

@code {
    public PhChart PhChartRef;
    public DataGrid GridRef;
}
