@page "/canada"

    <div class="control-section">
        <CaChart @ref="CaChartRef"></CaChart>
        <DataGrid @ref="GridRef"></DataGrid>
    </div>

@code {
    public CaChart CaChartRef;
    public DataGrid GridRef;
}
